<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Swap our for actual link-->
    <link rel="canonical" href="https://www.website.com/{{ page.fileSlug }}">

    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="">

    <!--Social Media Display-->
    <meta property="og:title" content="{{ metaTitle }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ canonical }}"/>
    <meta property="og:image" content="assets/images/social.jpg"/>
    <meta property="og:image:secure_url" content="assets/images/social.jpg"/>

    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png?v1">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Preload -->
    {{ preload | safe }}
    <link rel="preload" as="image" href="assets/images/logo-light.png">
    <link rel="preload" as="font" type="font/woff2" href="assets/fonts/roboto-v29-latin-regular.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="assets/fonts/roboto-v29-latin-700.woff2" crossorigin>

    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/dark.css">

    <!-- Loading in page specific CSS sheets from css block -->
    {{ pageCSS | safe }}

    <!--Put analytics tag here at the bottom to prevent it from render blocking-->

    <title>{{ tagTitle }}</title>
</head>
<body>
    <!--Screen reader skip main nav-->
    <a class="skip" aria-label="skip to main content" href="#main">Click To Skip To Main Content</a>

    {% include "header.html" %}
    <main id="main">{{ content | safe }}</main>
    {% include "footer.html" %}

    <script defer src="/assets/js/nav.js"></script>
    <script defer src="/assets/js/dark.js"></script>

    <!--
        This script adds a class to the body after scrolling 100px
        and we used these body.scroll styles to create some on scroll 
        animations with the navbar
    -->
    <script defer>
        document.addEventListener('scroll', (e) => { 
            const scroll = document.documentElement.scrollTop;
            if(scroll >= 100){
        document.querySelector('body').classList.add('scroll')
            } else {
            document.querySelector('body').classList.remove('scroll')
            }
        });
    </script>

</body>
</html>