---
layout: 'base.html'
canonical: 'Official link for that page (https://www.site.com)'
description: 'Meta description for the page'
metaTitle: 'Title that shows up on google searches'
tagTitle: 'Company Name | What They Do | Town and State'
permalink: '/'
---

<!-- 
This is to pre load any image above the fold, like hero section backgrounds.
If you do not have any images in your hero section that you need to preload, remove this 
block
-->

{% block preload %}
<link rel="preload" as="image" href="/assets/images/landing.jpg">
{% endblock %}

{% block pageCSS %}
<link rel="stylesheet" href="/css/critical.css">
<link rel="stylesheet" href="/css/local.css">

<!--Defer loading the whole page css-->
<link rel="stylesheet" href="/css/local.css" media="print" onload="this.media='all'; this.onload=null;">
{% endblock %}

<!-- Enter html code below -->

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
    <div class="cs-container">
        <div class="cs-flex-group">
            <span class="cs-topper">mountain hiking society</span>
            <h1 class="cs-title">Explore the World with Exciting People</h1>
            <p class="cs-text">
                Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius. Nibh tortor id aliquet lectus proin nibh condimentum.
            </p>
            <a href="" class="cs-button-solid">Explore More</a>
            <a href="" class="cs-button-transparent">
                <img class="cs-img" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg" alt="play icon" width="17" height="17">
                Learn More
            </a>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-picture" aria-hidden="true">
        <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/landing.jpg" alt="mountains" width="2250" height="1500">
    </picture>
</section>
                                

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services" class="services">
    <!-- Get Icons From flaticon.com -->
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="assets/images/service1.svg" alt="appliance" width="48" height="48">
        </picture>
        <h2>Service 1</h2>
        <p>
            Talk about the service with keywords people will be searching for it by. Keep it 1-2 sentences.
        </p>
    </div>
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="assets/images/service2.svg" alt="appliance" width="48" height="48">
        </picture>
        <h2>Service 2</h2>
        <p>
            Talk about the service with keywords people will be searching for it by. Keep it 1-2 sentences.
        </p>
    </div>
    <div class="card">
        <picture>
            <img aria-hidden="true" decoding="async" src="assets/images/service3.svg" alt="appliance" width="48" height="48">
        </picture>
        <h2>Service 3</h2>
        <p>
            Talk about the service with keywords people will be searching for it by. Keep it 1-2 sentences.
        </p>
    </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/cabinets2.jpg" alt="house" width="522" height="581">
            </picture>
            <picture class="cs-picture cs-picture2" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/construction.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/construction.jpg" alt="house" width="414" height="400">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">About Company Title</h2>
            <p class="cs-text">
                In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
            </p>
            <p class="cs-text">
                In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
            </p>
            <div class="cs-flex-group">
                <p class="cs-flex-p">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Classei consequat tincidunt turpis sit amet imperdiet for mind.
                </p>
                <span class="cs-name">Justin Time</span>
                <span class="cs-job">CEO-Founder</span>
                <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
            </div>
            <a href="/about" class="button-solid">More About Us</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--            Extra Content To Rank             -->
<!-- ============================================ -->

<section id="sbs-r">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-left">
            <picture class="cs-picture cs-picture1" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/construction.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/construction.jpg" alt="house" width="414" height="400">
            </picture>
            <picture class="cs-picture cs-picture2" aria-hidden="true">
                <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/cabinets2.jpg" alt="house" width="522" height="581">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-right">
            <span class="cs-topper">SEO Ranking</span>
            <h2 class="cs-title">Talk about a main service keyword</h2>
            <p class="cs-text">
                In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
            </p>
            <p class="cs-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non tenetur, iure nihil ipsam qui atque commodi id voluptatem nesciunt, quis animi fuga cum doloribus! Eaque laboriosam, unde consectetur iure asperiores ullam. Consequuntur debitis a voluptatibus vitae optio autem explicabo quia neque est quas, in placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus modi laudantium voluptatibus rem libero error minus quia eligendi sapiente eos.
            </p>
            <a href="" class="button-solid">Learn More About Thing</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery">
    <div class="cs-container">
        <span class="cs-topper">Our Portfolio</span>
        <h2 class="cs-title">Et orci volutpat, back up generator installations</h2>
        <div class="cs-image-group">
            <div class="cs-row cs-row-1">
                <!-- Row 1-->
                <picture class="cs-picture cs-picture-1">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port1-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port1.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port1.jpg" alt="new hallway" width="420" height="567">
                    </picture>
                    <picture class="cs-picture cs-picture-2">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port4-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port4.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port4.jpg" alt="new home construction" width="420" height="630">
                    </picture>
                    <picture class="cs-picture cs-picture-3">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port7-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port7.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port7.jpg" alt="building a new wall" width="420" height="512">
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
            <!-- Row 2 -->
            <div class="cs-row cs-row-2">
                <picture class="cs-picture cs-picture-1">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port2-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port2.jpg" alt="new kitchen" width="420" height="492">
                    </picture>
                    <picture class="cs-picture cs-picture-2">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port5-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port5.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port5.jpg" alt="apartment addition" width="420" height="517">
                    </picture>
                    <picture class="cs-picture cs-picture-3">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port8-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port8.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port8.jpg" alt="kew kitchen cabinets" width="420" height="629">
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
            <!-- Row 3 -->
            <div class="cs-row cs-row-3">
                <picture class="cs-picture cs-picture-1">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port3-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port3.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port3.jpg" alt="new black window structure" width="420" height="625">
                    </picture>
                    <picture class="cs-picture cs-picture-2">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port6-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port6.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port6.jpg" alt="kitchen rebovation" width="420" height="452">
                    </picture>
                    <picture class="cs-picture cs-picture-3">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port9-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port9.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/port9.jpg" alt="bathroom renovation" width="420" height="629">
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
        </div>
        <a href="/projects" class="button-solid">View Full Gallery</a>
    </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews">
    <div class="cs-container">
        <span class="cs-topper">Our Reviews</span>
        <h2 class="cs-title">Words From Our Customers</h2>
        <p class="cs-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
        </p>
        <ul class="cs-card-group">
            <!-- Review 1 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png" alt="profile picture" width="80" height="80">
                <p class="cs-item-p">
                    Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                </p>
                <span class="cs-reviewer">
                    Jon Doe
                    <span class="cs-desc">Homeowner</span>
                </span>
                <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="stars" width="96" height="16">
            </li>
            <!-- Review 2 -->
            <li class="cs-item">
                <img class="cs-item-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png" alt="profile picture" width="80" height="80">
                <p class="cs-item-p">
                    Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                </p>
                <span class="cs-reviewer">
                    Jane Doe
                    <span class="cs-desc">Homeowner</span>
                </span>
                <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="stars" width="96" height="16">
            </li>
        </ul>
        <a aria-label="read more reviews" href="/reviews" class="button-solid">Read More</a>
    </div>
</section>
<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">Get It Done <br> With Us Today</h2>
        <p>
            Say something catchy, informative, and encouraging to click the button to go to the contact page.  I like to add these to the bottom of all pages.
        </p>
        <a href="/contact" class="button-solid">Get an Estimate Now</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="assets/images/cabinets2-m.webp">
        <source media="(min-width: 601px)" srcset="assets/images/cabinets2.jpg">
        <img aria-hidden="true" loading="lazy" decoding="async" src="assets/images/cabinets2.jpg" alt="kitchen cabinets" width="1920" height="1280">
        </picture>
</section>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>